* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #f4a361;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman" ."Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
    width: 95%;
    margin: 0 auto;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    margin: 1px;
    border: 1px solid rgb(0 0 0/0.2);
    width: 125px;

}

h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

footer nav a {
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 0 10px;
}

/* footer nav a img {
    height: 100%;
    width: 100%;
} */