* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #ffffff;
    --accent1-color: #264653;
    --accent2-color: #2F5565;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--accent2-color);
    margin: 10px auto;

}

.header-image {
    width: 120px;
    height: 120px;

}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.history h2 {
    grid-column: 1/4;
}

.history img {
    grid-column: 2/3;
    width: 200px;
    height: 200px;
    align-self: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;

}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
    width: 95%;
    margin: 0 auto;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    margin: 1px;
    border: 1px solid rgb(0 0 0/0.2);
    width: 125px;

}

.history h2,
.adventure h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.adventure {
    display: flex;
    flex-direction: column;

}

.adventure-flex {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    margin: 20px 0 20px 0;
    /* margin: 0 auto; */
}

.adventure-flex img {
    width: 100%;
    height: 100%;

}

.adventure-flex figcaption {
    text-align: center;
    color: var(--accent2-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    background-color: var(--accent1-color);
    /* margin: 0 auto !important; */
}

footer p {
    flex-grow: 1;
    text-align: center
}

.socialmedia {
    display: flex;
    gap: 25px;
}

footer nav a {
    display: inline-block;
    height: 25px;
    width: 25px;
    /* align-self: flex-end; */
}

.company-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    color: var(--accent1-color);
    text-align: center;

}

.first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.form-item {
    display: grid;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
    font-size: 15px;
}

input,
textarea {
    padding: 8px;
}

.column1 {
    grid-template-columns: 1fr 3fr;
}

.message-purpose {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.message {
    gap: 0;
}

button {
    padding: 8px;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    background-color: navy;
    color: #ffffff;
}

button:hover {
    background-color: red;
}

.second {
    border: 2px solid rgb(0 0 0/0.2);
    border-radius: 10px;
}

.grid img {
    width: 120px;
    height: 120px;

}