* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #000;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

header h1 {
    margin: 16px;
    font-size: 30px;
    color: navy;
    text-align: center;
}

form {
    display: grid;
    align-items: center;
    width: 650px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid rgb(0 0 0/0.2);
    border-radius: 20px;
    background-color: #eee;
}

main fieldset {
    display: grid;
    gap: 8px;
    margin: 16px;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 17px;
}

main fieldset legend {
    padding: 10px;
    color: navy;
    font-size: 24px;
}

label,
input,
select,
button,
textarea {
    font-family: 'Times New Roman', Times, serif;
}

label {
    text-align: right;
    padding-right: 16px;
}

input,
select,
textarea {
    padding: 8px;
    font-size: 24px;

}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 16px;
    background-color: navy;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 13px;
    font-size: 24px;
}

button:hover {
    background-color: #f00;
}

footer {
    width: 650px;
    margin: 16px auto 0;
    border-top: 1px solid #ccc;
}

footer p {
    color: navy;
    text-align: center;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 10px 0;
}

.column2 {
    grid-template-columns: 1fr 3fr;
}

textarea {
    grid-column: 1/3;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
}